.DS_Store
node_modules
/dist

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
database-debug.log
functions/database-debug.log
functions/pubsub-debug.log
pubsub-debug.log
../drawapart-84b66-firebase-adminsdk-wq5pu-518e4e491f.json
../firebase-debug.log
.runtimeconfig.json
drawapart-84b66-firebase-adminsdk-wq5pu-518e4e491f.json
firebase-debug.log
functions/.runtimeconfig.json

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
