//Colors
$primary:       #136F63;
$secondary:     #E0CA3C;
$light:         #EBF38B;
$dark:          #3E2F5B;
$gray-900:      #707070;
$red:           #A81D30;

//Font
$font-family-sans-serif: "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;

//Settings
$border-radius: 10px;
$border-width: 2px;
$border-color: $dark;

//Input
$input-border-color: $dark;
$input-group-addon-bg: $primary;
$input-group-addon-color: $secondary;
$input-font-family: $font-family-sans-serif;
$input-bg: transparent;

//Buttons
$input-btn-font-family: 'Rock Salt';

// Prevent scrolling
html, body {
  max-width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  /* Disables pull-to-refresh and overscroll glow effect.
  Still keeps swipe navigations. */
  overscroll-behavior-y: none;
}

//Content
.content {
  margin-top: 30px;
}

#app {
  max-width: 400px;
  margin: 0 auto;
}

//Calc Image Height
.responsive-height {
  height: calc(100vh - 350px);
}