$primary:       #F4E87C;
$secondary:     #CBBF7A;
$light:         #EBF38B;
$dark:          #584D3D;

$font-family-sans-serif: 'Architects Daughter',"Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;

body {
    background-color: red;
}